body {
  background-color: #f1fffd !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-title {
  text-align: left;
}
.list-items {
  background-color: rgb(215, 248, 255);
  padding: 5px;
  margin-top: 2px;
  border: 4px solid #e9fffc;
  text-align: left;
  column-count: 2;
 }
 .action-icons {
   text-align: right;
 }

.todo-container {
  background-image: linear-gradient(rgb(13 110 253 / 4%), #00ffd55e, #0000ff66);
  justify-content: left;
  min-height: 500px;
  width: 50% !important;
  position: absolute;
  padding: 10px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  
  float: left;
  background-color: #93bbf9;
  margin-left: 5px;
  
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #0088a3;
  color: #f1fffd;
}

.outer-container
{
      height: 100px;
      width: 50% !important;
      position: absolute;
      padding: 10px;
      top: 12%;
      right: 55%;
      transform: translate(54%, -50%);
}

svg {
    font-size: 1.5rem;
}